<!DOCTYPE html>

{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Добавление товаров </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />

</head>



<body>


<!-- HTML форма для добавления товара -->

<div>
<form id="product-form" enctype="multipart/form-data">
  <label for="name">Название:</label>
  <input type="text" name="name" id="name">


    <!-- Зона для загрузки картинок -->
  <div id="image-dropzone" class="dropzone"></div>
  <input type="file" id="image-input" multiple style="display:none;">
  <label for="image-input" id="image-input-label">Выберите файлы</label>


  <label for="price">Цена:</label>
  <input type="number" name="price" id="price">


  <label for="attributes">Характеристики:</label>
    <div id="attributes">
      <div class="attribute">
        <input type="text" name="key[]" placeholder="Ключ">
        <input type="text" name="value[]" placeholder="Значение">
        <button id="add-attribute">Добавить характеристику</button>
        <button id="remove-attribute">Удалить характеристику</button>
      </div>
    </div>

  <button type="submit">Добавить товар</button>
</form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

<script src="{% static 'js/js.js' %} " > </script>


</body>
</html>



